#!/usr/bin/bash

## Set variables 
SCHEMATICS_URL="https://schematics.cloud.ibm.com/v2/resources_query/"

## generate JSON for resource query
cat << EOF > resource-query.json
{
	"type": "vsi",
	"name": "${resource_query_name}",
	"queries": [{
		"query_type": "workspaces",
		"query_condition": [{
			"name": "workspace-id",
			"value": "${workspace}",
			"description": "string"
		}, {
			"name": "tag",
			"value": "${tag}",
			"description": "string"
		}]
	}]
}
EOF

## Create resource query 
curl --location --request POST ${SCHEMATICS_URL} -H "Authorization: ${iam_token}" -H "Content-Type: application/json" -H "Cookie:" -d @esource-query.json

echo "${home}" | tee -a 

## Create inventory 


















 --data-raw '{"type": "vsi","name": "schematics-generated","queries": [{"query_type":"workspaces","query_condition":[{"name":"workspace-id","value":"${workspace}","description":"string"},{"name":"tag","value":"type:instance","description":"string"}]}]}'
