[{
	"query_type": "workspaces",
	"query_condition": [{
			"name": "workspace-id",
			"value": "${workspace}",
			"description": "string"
		},
		{
			"name": "tag",
			"value": "type:instance",
			"description": "string"
		}
	]
}]
